@(title: String, populationList: List[List[String]], color: List[String], name: List[String]) @main(title){

<link rel="stylesheet" href="style.css" type="text/css">
<script src="@routes.Assets.at("javascripts/amcharts/amcharts.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/amcharts/serial.js")" type="text/javascript"></script>
<script src="/assets/javascripts/amcharts/exporting/amexport.js"
	type="text/javascript"></script>
<script src="/assets/javascripts/amcharts/exporting/rgbcolor.js"
	type="text/javascript"></script>
<script src="/assets/javascripts/amcharts/exporting/canvg.js"
	type="text/javascript"></script>
<script src="/assets/javascripts/amcharts/exporting/filesaver.js"
	type="text/javascript"></script>
<script src="/assets/javascripts/amcharts/exporting/jspdf.js" 
	type="text/javascript"></script>
<script src="/assets/javascripts/amcharts/exporting/jspdf.plugin.addimage.js" 
	type="text/javascript"></script>

<script type="text/javascript">
var chart;
var chartData = generateChartData();
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "none",
    "pathToImages": "/assets/javascripts/amcharts/images/",
    "legend": {
        "useGraphSettings": true,
        "position": "bottom",
        "color":"white"
        
    },
    "dataProvider": chartData,
    "valueAxes": [{
        "id":"population",
        "title": "Besetand",
        "titleColor": "#ffffff",
        "axisColor": "#ffffff",
        "color":"white",
        "axisThickness": 2,
        "gridAlpha": 0,
        "axisAlpha": 1,
        "precision": 2,
        "position": "left"
    }],
    "graphs": [
      @for(i <- 0 until name.length){
        {
        "valueAxis": "population",
        "lineColor": "@color.get(i)",
        "bullet": "round",
        "bulletBorderThickness": 1,
        "hideBulletsCount": 30,
        "type": "smoothedLine",
        @if(i>0){
            "hidden": true,
            	}
        "color":"white",
        "lineThickness": 2,
        "title": "@name.get(i)",
        "valueField": "values"+@i,
        "categoryField": "categories",
		"fillAlphas": 0
    	},
      }],
    "chartScrollbar": {},
    "chartCursor": {
        "cursorPosition": "mouse"
    },
    "categoryField": "categories",
    "categoryAxis": {
    	"parseDates": false,
    	"startOnAxis": true,
    	"axisColor": "#ffffff",
    	"equalSpacing": false,
    	"color":"white",
        "minorGridEnabled": true
    },
    "exportConfig": {
        "menuTop": "40px",
        "menuBottom": "auto",
        "menuRight": "21px",
        "backgroundColor": "#efefef",
        
       "menuItemStyle"	: {
        //"backgroundColor"			: '#FFFFFF',
        "rollOverBackgroundColor"	: '#DDDDDD'},

        "menuItems": [{
            "textAlign": 'center',
            "icon": 'assets/images/download.png',
            "iconTitle": 'Lagre som bilde',
            "onclick":function(){},
            "items": [{
                "title": 'JPG',
                "format": 'jpg'
            }, {
                "title": 'PNG',
                "format": 'png'
            }, {
                "title": 'PDF',
                "format": 'pdf'
            }],
        }],
        "menuItemOutput":{
            "fileName":"bestand",
            "backgroundColor":"#999999"
        }
    }
});

chart.numberFormatter = {
		  precision:1,decimalSeparator:".",thousandsSeparator:""
		};
chart.addListener("dataUpdated", zoomChart);

function generateChartData() {
    var chartData = [];
	var xAxis;
	var yAxis1;
	var yAxis2;
	var yAxis3;
	var yAxis4;
	var yAxis5;
	var yAxis6;
	
				@for(i<- 0 until populationList.get(0).length){
					xAxis = @populationList.get(0).get(i)
					@for(j <- 1 until populationList.length){
						yAxis@j = @populationList.get(j).get(i)
					}
					
					chartData.push({
						@for(i <- 1 until populationList.length){
							values@(i-1): yAxis@i,
						}
						categories: xAxis
				});
				}
	
    return chartData;  
    }
</script>

<div id="opacity" class="jumbotron">
<div id="chartdiv" style="width: 100%; height: 500px;"></div>


<div class="row">
<div class="col-lg-1">	</div>
<form action="@routes.Statistics.getPopulation" method="get">	
	<div class="col-lg-2">
		<input type="text" id="startYear" class="form-control" name="startYear" placeholder="Fra År">
	</div>
	<div class="col-lg-2">			
		<input type="text" id="endYear" class="form-control" name="endYear" placeholder="Til År">
	</div>	
	<div class="col-lg-1">	
	<input type="submit" style="display: block;" class="btn btn-primary" value="Send" id="submit">
	</div>
</form>
</div>
</div>
}
