@(title: String, message: String) @main(title){


	<form type="input" method="get">
		
		<div class="row">
		<div class="col-sm-4">
		<legend><span class="elgdata" id="white"><h3>Sett kolonner</h3></span></legend> </a></h2>	
		</div>
		<div class="col-sm-4 hero-spacer">
		</div>
		<div class="col-sm-4 hero-spacer">
		<button type="submit" class="btn btn-lg btn-primary">Last opp</button>
		<input type="button" onclick="indexRedirect()" value="Avbryt" class="btn btn-lg btn-danger">
		</div>
		</div>
		
		<script type="text/javascript">
function indexRedirect(){
	window.location.href="/";	
}
</script>
		
		<div class="row hero-spacer">
			
			<div class="col-sm-4">
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 1</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0" selected>Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 2</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1" selected>Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 3</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2" selected>Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 4</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3" selected>Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 5</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4" selected>Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-sm-4">
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 6</h3>
					</div>
					<div class="panel-body">
						<div class="boxed">
							<select name="data" class="form-control">
								<option value="0">Valdnr.</option>
								<option value="1">Valdnavn</option>
								<option value="2">Jaktfeltnr.</option>
								<option value="3">Jaktfeltnavn</option>
								<option value="4">Dag</option>
								<option value="5" selected>Mnd</option>
								<option value="6">År</option>
								<option value="7">Kjønn</option>
								<option value="8">Veid vekt</option>
								<option value="9">Alder</option>
								<option value="10">Tagger</option>
								<option value="11">Kalv</option>
								<option value="12">Tvilling</option>
								<option value="13">Flått</option>
								<option value="14">Hjortelusflue</option>
							</select>
						</div>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 7</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6" selected>År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 8</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7" selected>Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 9</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8" selected>Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 10</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9" selected>Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-sm-4">
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 11</h3>
					</div>
					<div class="panel-body">
						<div class="boxed">
							<select name="data" class="form-control">
								<option value="0">Valdnr.</option>
								<option value="1">Valdnavn</option>
								<option value="2">Jaktfeltnr.</option>
								<option value="3">Jaktfeltnavn</option>
								<option value="4">Dag</option>
								<option value="5">Mnd</option>
								<option value="6">År</option>
								<option value="7">Kjønn</option>
								<option value="8">Veid vekt</option>
								<option value="9">Alder</option>
								<option value="10" selected>Tagger</option>
								<option value="11">Kalv</option>
								<option value="12">Tvilling</option>
								<option value="13">Flått</option>
								<option value="14">Hjortelusflue</option>
							</select>
						</div>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 12</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11" selected>Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 13</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12" selected>Tvilling</option>
							<option value="13">Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 14</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13" selected>Flått</option>
							<option value="14">Hjortelusflue</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default" id="opacity">
					<div class="panel-heading">
						<h3 class="panel-title">Kolonne 15</h3>
					</div>
					<div class="panel-body">
						<select name="data" class="form-control">
							<option value="0">Valdnr.</option>
							<option value="1">Valdnavn</option>
							<option value="2">Jaktfeltnr.</option>
							<option value="3">Jaktfeltnavn</option>
							<option value="4">Dag</option>
							<option value="5">Mnd</option>
							<option value="6">År</option>
							<option value="7">Kjønn</option>
							<option value="8">Veid vekt</option>
							<option value="9">Alder</option>
							<option value="10">Tagger</option>
							<option value="11">Kalv</option>
							<option value="12">Tvilling</option>
							<option value="13">Flått</option>
							<option value="14" selected>Hjortelusflue</option>
						</select>
					</div>
				</div>
			</div>
	</div>	
	</form>

}
